In [7]:
# creating lists
row1 = ['BD', 'Dhaka', 0.0, 75, 1972]
row2 = ['IND', 'Delhi', 0.1, 70, 1948]

In [8]:
# creating lists of list
data = [row1, row2]

In [9]:
# seeking an element from a list
first_row = data[0]

In [10]:
first_row

['BD', 'Dhaka', 0.0, 75, 1972]

In [11]:
first_element_in_first_row = first_row[0]

In [12]:
first_element_in_first_row

'BD'

In [13]:
# Or
first_element_in_first_row = data[0][0]

In [14]:
last_element_in_first_row = first_row[-1]

In [15]:
last_element_in_first_row

1972

In [16]:
# Or
last_element_in_first_row = data[0][-1]

In [17]:
last_element_in_first_row

1972

In [18]:
# Seeking multiple list elements and creating a new list
# Only country name and year of independence 'c'
c = [row1[0], row1[4]]

In [19]:
c

['BD', 1972]

In [20]:
# slicing a list
second_to_fourth_element = row1[1:4]

In [21]:
second_to_fourth_element

['Dhaka', 0.0, 75]

### Opening a data set and accessing it with list method
Dataset comes from 'Kaggle'

In [58]:
open_file = open('AppleStore.csv') # a built-in function in python

In [30]:
open_file

In [31]:
from csv import reader

In [32]:
read_file = reader(open_file)

In [33]:
read_file

In [34]:
apps_data = list(read_file)

UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 1759: character maps to <undefined>

In [37]:
opened_file = open('AppleStore.csv', encoding='utf-8')
from csv import readerf
read_file = reader(opened_file)
apps_data = list(read_file)

In [46]:
apps_data[1]

['284882215',
 'Facebook',
 '389879808',
 'USD',
 '0',
 '2974676',
 '212',
 '3.5',
 '3.5',
 '95',
 '4+',
 'Social Networking',
 '37',
 '1',
 '29',
 '1']

* More practice and examples problems on list: **https://docs.python.org/3/tutorial/introduction.html#lists**

### Conditional Statements
* if , else , elif

In [1]:
z = 4
if z % 2 == 0 : 
print("z is even")

IndentationError: expected an indented block after 'if' statement on line 2 (2878706004.py, line 3)

In [2]:
z = 5
if z % 2 == 0 : 
    print("z is even")

In [3]:
z = 5
if z % 2 == 0 : 
    print("z is even")
else :
    print("z is odd")

z is odd

In [4]:
z = 3
if z % 2 == 0 :
    print("z is divisible by 2") 
elif z % 3 == 0 :
    print("z is divisible by 3") 
else :
    print("z is neither divisible by 2 nor by 3")

z is divisible by 3

In [57]:
# Combining multiple conditions
if 3 > 1 and 'data' == 'data':
    print('Both conditions are true!')

Both conditions are true!

In [55]:
if 10 < 20 or 4 <= 5:
    print('At least one condition is true.')

At least one condition is true.

In [56]:
if 10 < 20 and 4 <= 5:
    print('Both condition is true.')

Both condition is true.

* More practice and example on if,else statement: **https://docs.python.org/3/tutorial/controlflow.html#if-statements**

# For loop

In [2]:
for i in "bangladesh" :
    print(i.capitalize())

B
A
N
G
L
A
D
E
S
H

#### For loops in list

In [6]:
fam = [1.73, 1.68, 1.71, 1.89]

In [7]:
print(fam[0])
print(fam[1])
print(fam[2])
print(fam[3])

1.73
1.68
1.71
1.89

In [8]:
for height in fam :
    print(height)

1.73
1.68
1.71
1.89

In [9]:
for index, height in enumerate(fam) :
    print(str(index) + ": " + str(height))

0: 1.73
1: 1.68
2: 1.71
3: 1.89

In [10]:
menu = ["soup", "rice", "mutton"]
for index, item in enumerate(menu):
   print(f"Item {index}: {item}")

Item 0: soup
Item 1: rice
Item 2: mutton

In [11]:
menu = ["soup", "rice", "mutton"]
for index, item in enumerate(menu, start = 1):
   print(f"Item {index}: {item}")

Item 1: soup
Item 2: rice
Item 3: mutton

In [3]:
l = [1, 2, 3, 4, 5]

for i in l:
    if i % 2 == 0:
        print("This is even.")
    else: 
        print("This is odd.")

This is odd.
This is even.
This is odd.
This is even.
This is odd.

### Accessing nested list element using for loops

In [42]:
for data_point in data:
    print(data_point)

['BD', 'Dhaka', 0.0, 75, 1972]
['IND', 'Delhi', 0.1, 70, 1948]

In [62]:
apps_list = [['Facebook', 0.0], ['Notion', 14.99], ['Astropad Standard', 29.99], ['NAVIGON Europe', 74.99]]

for app in apps_list:
    price = app[1]

    if price == 0.0:
        app.append('free')
    elif price > 0.0 and price < 20:
        app.append('affordable')
    elif price >= 20 and price < 50:
        app.append('expensive')
    elif price >= 50:
        app.append('very expensive')
print(apps_list)

[['Facebook', 0.0, 'free'], ['Notion', 14.99, 'affordable'], ['Astropad Standard', 29.99, 'expensive'], ['NAVIGON Europe', 74.99, 'very expensive']]

### Accessing values in a dictionary using for loops

In [12]:
world = {"india":6.5, "bangladesh":4.2, "china":5.0}
for key, value in world :
    print(key + " -- " + str(value))

ValueError: too many values to unpack (expected 2)

In [13]:
for key, value in world.items() :
    print(key + " -- " + str(value))

india -- 6.5
bangladesh -- 4.2
china -- 5.0

In [1]:
menu = ["soup", "rice", "mutton"]
for index, item in enumerate(menu):
   print(f"Item {index}: {item}")

Item 0: soup
Item 1: rice
Item 2: mutton

In [2]:
menu = ["soup", "rice", "mutton"]
for index, item in enumerate(menu, start = 1):
   print(f"Item {index}: {item}")

Item 1: soup
Item 2: rice
Item 3: mutton

#### For loops in case of dictionary
* for key, val in my_dict.items() :

In [3]:
world = {"india":6.5, "bangladesh":4.2, "china":5.0}
for key, value in world :
    print(key + " -- " + str(value))

ValueError: too many values to unpack (expected 2)

In [4]:
for key, value in world.items() :
    print(key + " -- " + str(value))

india -- 6.5
bangladesh -- 4.2
china -- 5.0

* More example and practice on for loops. **https://docs.python.org/3/tutorial/controlflow.html#for-statements**

### Finding apps names

In [52]:
apps_names = []
for row in apps_data[1:]: # iterating from the 2nd list
    name = row[1]
    apps_names.append(name)

In [53]:
print(apps_names[:6])

['Facebook', 'Instagram', 'Clash of Clans', 'Temple Run', 'Pandora - Music & Radio', 'Pinterest']

### Finding out average rating

In [70]:
apps_data[1]

['284882215',
 'Facebook',
 '389879808',
 'USD',
 '0',
 '2974676',
 '212',
 '3.5',
 '3.5',
 '95',
 '4+',
 'Social Networking',
 '37',
 '1',
 '29',
 '1',
 'free']

In [69]:
type(apps_data[1][7])

str

In [66]:
all_ratings = []
for row in apps_data[1:]:
    rating = float(row[7])
    all_ratings.append(rating)
    
avg_rating = sum(all_ratings) / len(all_ratings)
print(avg_rating)

3.526955675976101

#### Free apps rating

In [75]:
free_apps_ratings = []

for row in apps_data[1:]:
    rating = float(row[7])
    price = float(row[4])   
    if price == 0.0:
        free_apps_ratings.append(rating)
        
    
avg_rating_free = sum(free_apps_ratings) / len(free_apps_ratings)
print(avg_rating_free)

3.3767258382642997

#### Non free apps rating

In [74]:
non_free_apps_ratings = []
for row in apps_data[1:]:
    rating = float(row[7])
    price = float(row[4])
    if price != 0.0:
        non_free_apps_ratings.append(rating)
        
avg_rating_non_free = sum(non_free_apps_ratings) / len(non_free_apps_ratings)
print(avg_rating_non_free)

3.720948742438714

In [ ]:
non_games_ratings = []
for row in apps_data[1:]:
    rating = float(row[7])
    genre = row[11]
    
    if genre != 'Games':
        non_games_ratings.append(rating)
        
avg_rating_non_games = sum(non_games_ratings) / len(non_games_ratings)
print(avg_rating_non_games)

##### Not free games and social networking sites average rating

In [76]:
not_free_games_social_ratings = []
for row in apps_data[1:]:
    rating = float(row[7])
    genre = row[11]
    price = float(row[4])
    
    if (genre == 'Social Networking' or genre == 'Games') and price != 0:
        not_free_games_social_ratings.append(rating)
        
avg_not_free = sum(not_free_games_social_ratings) / len(not_free_games_social_ratings)
print(avg_not_free)

3.8904235727440146

#### Making a frequency table of rating in a dictionary

In [80]:
content_ratings = {}         
ratings = ['4+', '4+', '4+', '9+', '9+', '12+', '17+']
content_ratings = {}  
for item in ratings:
    if item in content_ratings:
        content_ratings[item] += 1
    else:
        content_ratings[item] = 1

print(content_ratings)

{'4+': 3, '9+': 2, '12+': 1, '17+': 1}

In [78]:
frequency_table = {}
for row in apps_data[1:]:
    value = row[7]
    if value in frequency_table:
        frequency_table[value] += 1
    else:
        frequency_table[value] = 1

In [79]:
frequency_table

{'3.5': 702,
 '4.5': 2663,
 '4': 1626,
 '3': 383,
 '5': 492,
 '2.5': 196,
 '2': 106,
 '1.5': 56,
 '1': 44,
 '0': 929}