### String
* ordered collection of element
* always inside inverted commas
* Applying methods does not change the original string. It requires naming it as a new variable to retain the change.
* So, it is immutable

In [1]:
#upper, lower, title, swapcase, capitalize, replace, lstrip, rstrip, strip, join, islower, istitle, isupper, index
# Look here for more: https://www.geeksforgeeks.org/python/python-string-methods/

In [ ]:
text = 'This is Saturday'

In [38]:
### Slicing a string
s = 'abcdefghijklmnopqrstuvwxyz'

In [39]:
s[1]+ s[3:6]+ s[-1]

'bdefz'

## List to string

In [25]:
color = ['red', 'blue', 'green']

color_str = ', '.join(color)

print(color_str)

red, blue, green

## String to List

In [30]:
o = list('sfgkjsdhksdf')

In [31]:
o

['s', 'f', 'g', 'k', 'j', 's', 'd', 'h', 'k', 's', 'd', 'f']

In [26]:
new_col = color_str.split()
print(new_col)

['red,', 'blue,', 'green']

In [ ]:
#practice
ls = ['  ThiS', 'SenTence', 'NEEDS', 'bEttEr!', 'foRmatting']

#### Tuple
* ordered sequence
* Tuples are similar to lists. Only diference is tuples are immutable
* As tuples are immutable we can not append, remove etc on tuples

In [20]:
tuple1 = (8, 5, 1, 2, 5, 5)

In [40]:
#count, index

## Membership Operator
*in

In [35]:
'c' in {'a', 'b', 'c', 'd'}

True

In [36]:
3 in  {'a', 'b', 'c', 'd'}

False

### Mutability
If a python object is changable once it is created it is mutable. Otherwise, it is immutable
* Immutable: integer, float, string, tuple
* Mutable: list, dictionary, set

In [2]:
# Example 1
tuple1 = (1, 2, 3, 4) 
tuple1[0] = 5
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [3]:
#Example 2
text = "This is day 1 for ECON 317"
text[0] = 'W'
print(text)

TypeError: 'str' object does not support item assignment

In [42]:
# Example 3
alist = [1, 2, 3, 4]
alist[0] = 5
print(alist)

[5, 2, 3, 4]

As lists are mutable, we have to make a copy of it with a new name if we want to keep the initial list intact. Giving a new name to an existing list is called **aliasing**. The new name is called **alias name**.

In [43]:
blist = alist

In [5]:
# Example 4
aset = {1,2,3,4}
aset[0] = 5
print(aset) 
# This is item assignment which is notsupported in set object

TypeError: 'set' object does not support item assignment

In [6]:
#Example 5
aset.add(5)
print(aset)

{1, 2, 3, 4, 5}

#### Built-In function
* sorted()
* round()
* help(round)
* enumerate()
* max()
* min()
* sum()
* abs()
* print()
* set()
* list()
* tuple()
* len()
* type()
* float()
* int()
* split()

Reference: https://docs.python.org/3/library/functions.html

In [15]:
ls1 = [11.832, 3, 8, 6, 6, 1]

In [17]:
max(ls1)

11.832

In [18]:
sum(ls1)

35.832

In [22]:
float(ls1[1])

3.0

In [19]:
ls = ['a', 'b', 'c']

In [20]:
sum(ls)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### F string
print(f"..........")

In [89]:
course = "ECON 317"

In [92]:
print("This course is" + " " + "ECON 317" + ".")

This course is ECON 317.

In [94]:
print(f"This course is: {course}.")

This course is: ECON 317.

In [95]:
city = "Dhaka"
print(f"City: {city}")

City: Dhaka

### Dictionary

In [58]:
gdp_growth = [6.5, 4.2, 5.0]
countries = ["india", "bangladesh", "china"]

In [59]:
bd = countries.index("bangladesh")

In [60]:
gdp_growth[bd]

4.2

This is how we can find the GDP growth rate of a specific country. But this is neither convenient nor intuitive.

In [61]:
world = {"india":6.5, "bangladesh":4.2, "china":5.0}

In [62]:
world["bangladesh"]

4.2

Keys have to immutable, so keys can never be lists. But values can be lists.

In [63]:
del(world["china"])
world

{'india': 6.5, 'bangladesh': 4.2}

In [33]:
europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
          'australia':'vienna' }

In [34]:
# Is Italy in Europe?
print('italy' in europe)

True

In [37]:
# Adding Poland in the Europe dictionary
europe["belgium"] = 'brussels'

In [35]:
# Updating capital of Germany
europe['germany'] = 'berlin'

In [36]:
# Removing australia
del(europe["australia"])

In [38]:
print(europe)

{'spain': 'madrid', 'france': 'paris', 'germany': 'berlin', 'norway': 'oslo', 'italy': 'rome', 'poland': 'warsaw', 'belgium': 'brussels'}

#### Dictionary of dictionaries

In [23]:
europe = { 'spain': { 'capital':'madrid', 'population':46.77 },
           'france': { 'capital':'paris', 'population':66.03 },
           'germany': { 'capital':'berlin', 'population':80.62 },
           'norway': { 'capital':'oslo', 'population':5.084 } }

In [40]:
# What is the capital of France?
print(europe['france']['capital'])

paris

In [42]:
# What is the population of France?
print(europe['france']['population'])

66.03

In [43]:
# Adding a new component to the dictionary of dictionaries
# First add the value of the dictionary
data = {'capital':'rome', 'population':59.83 }

In [44]:
# Then add the value to a key.
europe['italy'] = data

In [45]:
print(europe)

{'spain': {'capital': 'madrid', 'population': 46.77}, 'france': {'capital': 'paris', 'population': 66.03}, 'germany': {'capital': 'berlin', 'population': 80.62}, 'norway': {'capital': 'oslo', 'population': 5.084}, 'italy': {'capital': 'rome', 'population': 59.83}}

### Conditional Statements
* if , else , elif

In [64]:
z = 4
if z % 2 == 0 : 
print("z is even")

IndentationError: expected an indented block after 'if' statement on line 2 (2878706004.py, line 3)

In [66]:
z = 5
if z % 2 == 0 : 
    print("z is even")

In [67]:
z = 5
if z % 2 == 0 : 
    print("z is even")
else :
    print("z is odd")

z is odd

In [68]:
z = 3
if z % 2 == 0 :
    print("z is divisible by 2") 
elif z % 3 == 0 :
    print("z is divisible by 3") 
else :
    print("z is neither divisible by 2 nor by 3")

z is divisible by 3

### For loop

In [26]:
for i in "bangladesh" :
    print(i.capitalize())

B
A
N
G
L
A
D
E
S
H

#### For loops in list

In [24]:
fam = [1.73, 1.68, 1.71, 1.89]

In [71]:
print(fam[0])
print(fam[1])
print(fam[2])
print(fam[3])

1.73
1.68
1.71
1.89

In [78]:
for height in fam :
    print(height)

1.73
1.68
1.71
1.89

In [25]:
for index, height in enumerate(fam) :
    print(str(index) + ": " + str(height))

1: 1.73
2: 1.68
3: 1.71
4: 1.89

In [98]:
menu = ["soup", "rice", "mutton"]
for index, item in enumerate(menu):
   print(f"Item {index}: {item}")

Item 0: soup
Item 1: rice
Item 2: mutton

In [24]:
menu = ["soup", "rice", "mutton"]
for index, item in enumerate(menu, start = 1):
   print(f"Item {index}: {item}")

Item 1: soup
Item 2: rice
Item 3: mutton

#### For loops in case of dictionary
* for key, val in my_dict.items() :

In [81]:
world = {"india":6.5, "bangladesh":4.2, "china":5.0}
for key, value in world :
    print(key + " -- " + str(value))

ValueError: too many values to unpack (expected 2)

In [82]:
for key, value in world.items() :
    print(key + " -- " + str(value))

india -- 6.5
bangladesh -- 4.2
china -- 5.0