In [2]:
# creating lists
row1 = ['BD', 'Dhaka', 0.0, 75, 1972]
row2 = ['IND', 'Delhi', 0.1, 70, 1948]

In [3]:
# creating lists of list
data = [row1, row2]

In [4]:
data[1]

['IND', 'Delhi', 0.1, 70, 1948]

In [5]:
# seeking an element from a list
first_row = data[0]

In [6]:
first_row

['BD', 'Dhaka', 0.0, 75, 1972]

In [7]:
first_element_in_first_row = first_row[0]

In [8]:
first_element_in_first_row

'BD'

In [9]:
data[1][-1]

1948

In [10]:
# Or
first_element_in_first_row = data[0][0]

In [11]:
last_element_in_first_row = first_row[-1]

In [12]:
last_element_in_first_row

1972

In [13]:
# Or
last_element_in_first_row = data[0][-1]

In [14]:
last_element_in_first_row

1972

In [15]:
# Seeking multiple list elements and creating a new list
# Only country name and year of independence 'c'
c = [row1[0], row2[0]]

In [16]:
c

['BD', 'IND']

In [17]:
# slicing a list
second_to_fourth_element = row1[1:4]

In [18]:
second_to_fourth_element

['Dhaka', 0.0, 75]

### Opening a data set and accessing it with list method
Dataset comes from 'Kaggle'

In [19]:
open_file = open('AppleStore.csv') # a built-in function in python

In [20]:
open_file

In [21]:
from csv import reader

In [22]:
read_file = reader(open_file)

In [23]:
read_file

In [24]:
type(read_file)

_csv.reader

In [25]:
apps_data = list(read_file)

UnicodeDecodeError: 'charmap' codec can't decode byte 0x81 in position 1759: character maps to <undefined>

In [26]:
opened_file = open('AppleStore.csv', encoding='utf-8')
read_file = reader(opened_file)
apps_data = list(read_file)

In [27]:
type(apps_data)

list

In [28]:
apps_data[0]

['id',
 'track_name',
 'size_bytes',
 'currency',
 'price',
 'rating_count_tot',
 'rating_count_ver',
 'user_rating',
 'user_rating_ver',
 'ver',
 'cont_rating',
 'prime_genre',
 'sup_devices.num',
 'ipadSc_urls.num',
 'lang.num',
 'vpp_lic']

In [29]:
apps_data[2]

['389801252',
 'Instagram',
 '113954816',
 'USD',
 '0',
 '2161558',
 '1289',
 '4.5',
 '4',
 '10.23',
 '12+',
 'Photo & Video',
 '37',
 '0',
 '29',
 '1']

In [30]:
len(apps_data)

7198

* More practice and examples problems on list: **https://docs.python.org/3/tutorial/introduction.html#lists**

### Conditional Statements
* if , else , elif

In [31]:
z = 4
if z % 2 == 0 : 
print("z is even")

IndentationError: expected an indented block after 'if' statement on line 2 (2878706004.py, line 3)

In [32]:
z = 4
if z % 2 == 0 : 
    print("z is even")

z is even

In [33]:
z = 4
if z % 2 == 0 : 
    print("z is even")

z is even

In [34]:
z = 5
if z % 2 == 0 : 
    print("z is even")

In [35]:
z = 5
if z % 2 == 0 : 
    print("z is even")
else :
    print("z is odd")

z is odd

In [36]:
z = 9
if z % 2 == 0 :
    print("z is divisible by 2") 
elif z % 3 == 0 :
    print("z is divisible by 3") 
else :
    print("z is neither divisible by 2 nor by 3")

z is divisible by 3

In [37]:
# Combining multiple conditions
if 3 > 1 and 'data' == 'data':
    print('Both conditions are true!')

Both conditions are true!

In [38]:
if 10 < 20 or 4 <= 5:
    print('At least one condition is true.')

At least one condition is true.

In [39]:
if 10 < 20 and 4 <= 5:
    print('Both condition is true.')

Both condition is true.

* More practice and example on if,else statement: **https://docs.python.org/3/tutorial/controlflow.html#if-statements**

# For loop

In [40]:
for letter in "bangladesh" :
    print(letter.capitalize())

B
A
N
G
L
A
D
E
S
H

In [41]:
name = "bangladesh"

In [42]:
name.capitalize()

'Bangladesh'

In [43]:
name.upper()

'BANGLADESH'

#### For loops in list

In [44]:
fam = [1.73, 1.68, 1.71, 1.89]

In [45]:
print(fam[0])
print(fam[1])
print(fam[2])
print(fam[3])

1.73
1.68
1.71
1.89

In [46]:
for apple in fam :
    print(apple)

1.73
1.68
1.71
1.89

In [47]:
for index, v in enumerate(fam) :
    print(str(index) + ": " + str(v))

0: 1.73
1: 1.68
2: 1.71
3: 1.89

In [48]:
for height, index in enumerate(fam) :
    print(str(index) + ": " + str(height))

1.73: 0
1.68: 1
1.71: 2
1.89: 3

In [49]:
menu = ["soup", "rice", "mutton"]
for index, food in enumerate(menu):
   print(f"Item {index}: {food}")

Item 0: soup
Item 1: rice
Item 2: mutton

In [50]:
menu = ["soup", "rice", "mutton"]
for index, item in enumerate(menu, start = 1):
   print(f"Item {index}: {item}")

Item 1: soup
Item 2: rice
Item 3: mutton

In [51]:
l = [1, 2, 3, 4, 5]

for i in l:
    if i % 2 == 0:
        print("This is even.")
    else: 
        print("This is odd.")

This is odd.
This is even.
This is odd.
This is even.
This is odd.

### Accessing nested list element using for loops

In [52]:
for k in data:
    print(k)

['BD', 'Dhaka', 0.0, 75, 1972]
['IND', 'Delhi', 0.1, 70, 1948]

In [53]:
apps_list = [['Facebook', 0.0], ['Notion', 14.99], ['Astropad Standard', 29.99], ['NAVIGON Europe', 74.99]]

for a in apps_list:
    price = a[1]
    if price == 0.0:
        a.append('free')
    elif price > 0.0 and price < 20:
        a.append('affordable')
    elif price >= 20 and price < 50:
        a.append('expensive')
    elif price >= 50:
        a.append('very expensive')
print(apps_list)

[['Facebook', 0.0, 'free'], ['Notion', 14.99, 'affordable'], ['Astropad Standard', 29.99, 'expensive'], ['NAVIGON Europe', 74.99, 'very expensive']]

### Accessing values in a dictionary using for loops

In [54]:
world = {"india":6.5, "bangladesh":4.2, "china":5.0}
for key, value in world :
    print(key + " -- " + str(value))

ValueError: too many values to unpack (expected 2)

In [55]:
for key, value in world.items() :
    print(key + " : " + str(value))

india : 6.5
bangladesh : 4.2
china : 5.0

In [56]:
menu = ["soup", "rice", "mutton"]
for index, item in enumerate(menu):
   print(f"Item {index}: {item}")

Item 0: soup
Item 1: rice
Item 2: mutton

In [57]:
menu = ["soup", "rice", "mutton"]
for index, item in enumerate(menu, start = 1):
   print(f"Item {index}: {item}")

Item 1: soup
Item 2: rice
Item 3: mutton

#### For loops in case of dictionary
* for key, val in my_dict.items() :

In [58]:
world = {"india":6.5, "bangladesh":4.2, "china":5.0}
for key, value in world :
    print(key + " -- " + str(value))

ValueError: too many values to unpack (expected 2)

In [59]:
for key, value in world.items() :
    print(key + " -- " + str(value))

india -- 6.5
bangladesh -- 4.2
china -- 5.0

* More example and practice on for loops. **https://docs.python.org/3/tutorial/controlflow.html#for-statements**

### Finding apps names

In [60]:
apps_data[:2]

[['id',
  'track_name',
  'size_bytes',
  'currency',
  'price',
  'rating_count_tot',
  'rating_count_ver',
  'user_rating',
  'user_rating_ver',
  'ver',
  'cont_rating',
  'prime_genre',
  'sup_devices.num',
  'ipadSc_urls.num',
  'lang.num',
  'vpp_lic'],
 ['284882215',
  'Facebook',
  '389879808',
  'USD',
  '0',
  '2974676',
  '212',
  '3.5',
  '3.5',
  '95',
  '4+',
  'Social Networking',
  '37',
  '1',
  '29',
  '1']]

In [61]:
apps_name = []

In [62]:
for i in apps_data[1:]:
    name = i[1]
    apps_name.append(name)

In [63]:
len(apps_name)

7197

In [64]:
apps_names = []
for row in apps_data[1:]: # iterating from the 2nd list
    name = row[1]
    apps_names.append(name)

In [65]:
print(apps_names[:6])

['Facebook', 'Instagram', 'Clash of Clans', 'Temple Run', 'Pandora - Music & Radio', 'Pinterest']

### Finding out average rating

In [66]:
apps_data[1]

['284882215',
 'Facebook',
 '389879808',
 'USD',
 '0',
 '2974676',
 '212',
 '3.5',
 '3.5',
 '95',
 '4+',
 'Social Networking',
 '37',
 '1',
 '29',
 '1']

In [67]:
type(apps_data[3][7])

str

In [68]:
all_ratings = []
for row in apps_data[1:]:
    rating = float(row[7])
    all_ratings.append(rating)

In [69]:
len(all_ratings)

7197

In [70]:
average = sum(all_ratings)/ len(all_ratings)

In [71]:
rounded_average = round(average, 2)

In [72]:
rounded_average

3.53

In [73]:
all_ratings = []
for row in apps_data[1:]:
    rating = float(row[7])
    all_ratings.append(rating)
    
avg_rating = sum(all_ratings) / len(all_ratings)
print(avg_rating)

3.526955675976101

#### Free apps rating

In [74]:
free_apps_ratings = []

for row in apps_data[1:]:
    rating = float(row[7])
    price = float(row[4])   
    if price == 0.0:
        free_apps_ratings.append(rating)
        
    
avg_rating_free = sum(free_apps_ratings) / len(free_apps_ratings)
print(avg_rating_free)

3.3767258382642997

In [75]:
len(free_apps_ratings)

4056

#### Non free apps rating

In [76]:
non_free_apps_ratings = []
for row in apps_data[1:]:
    rating = float(row[7])
    price = float(row[4])
    if price != 0.0:
        non_free_apps_ratings.append(rating)
        
avg_rating_non_free = sum(non_free_apps_ratings) / len(non_free_apps_ratings)
print(avg_rating_non_free)

3.720948742438714

In [77]:
non_games_ratings = []
for row in apps_data[1:]:
    rating = float(row[7])
    genre = row[11]
    
    if genre != 'Games':
        non_games_ratings.append(rating)
        
avg_rating_non_games = sum(non_games_ratings) / len(non_games_ratings)
print(avg_rating_non_games)

3.343928035982009

##### Not free games and social networking sites average rating

In [78]:
not_free_games_social_ratings = []
for row in apps_data[1:]:
    rating = float(row[7])
    genre = row[11]
    price = float(row[4])
    
    if (genre == 'Social Networking' or genre == 'Games') and price != 0:
        not_free_games_social_ratings.append(rating)
        
avg_not_free = sum(not_free_games_social_ratings) / len(not_free_games_social_ratings)
print(avg_not_free)

3.8904235727440146

#### Making a frequency table of rating in a dictionary

In [79]:
ratings = ['4+', '4+', '4+', '9+', '9+', '12+', '17+']
content_ratings = {}  
for item in ratings:
    if item in content_ratings:
        content_ratings[item] += 1
    else:
        content_ratings[item] = 1

print(content_ratings)

{'4+': 3, '9+': 2, '12+': 1, '17+': 1}

In [80]:
apps_data[1]

['284882215',
 'Facebook',
 '389879808',
 'USD',
 '0',
 '2974676',
 '212',
 '3.5',
 '3.5',
 '95',
 '4+',
 'Social Networking',
 '37',
 '1',
 '29',
 '1']

In [81]:
frequency_table = {}
for row in apps_data[1:]:
    value = row[7]
    if value in frequency_table:
        frequency_table[value] += 1
    else:
        frequency_table[value] = 1

In [82]:
frequency_table

{'3.5': 702,
 '4.5': 2663,
 '4': 1626,
 '3': 383,
 '5': 492,
 '2.5': 196,
 '2': 106,
 '1.5': 56,
 '1': 44,
 '0': 929}