#### Tuple
* ordered sequence

In [39]:
tuple1 = (8, 5, 1, 2, 5, 5)

#### Built-In function
* sorted()
* round()
* help(round)
* enumerate()
* max()
* min()
* sum()
* abs()
* print()
* set()
* list()
* tuple()
* float()
* len()
* type()
* float()
* int()

Reference: https://docs.python.org/3/library/functions.html

### F string
print(f"..........")

In [89]:
course = "ECON 317"

In [92]:
print("This course is" + " " + "ECON 317" + ".")

This course is ECON 317.

In [94]:
print(f"This course is: {course}.")

This course is: ECON 317.

In [95]:
city = "Dhaka"
print(f"City: {city}")

City: Dhaka

### Dictionary

In [58]:
gdp_growth = [6.5, 4.2, 5.0]
countries = ["india", "bangladesh", "china"]

In [59]:
bd = countries.index("bangladesh")

In [60]:
gdp_growth[bd]

4.2

This is how we can find the GDP growth rate of a specific country. But this is neither convenient nor intuitive.

In [61]:
world = {"india":6.5, "bangladesh":4.2, "china":5.0}

In [62]:
world["bangladesh"]

4.2

In [ ]:
Keys have to immutable, so keys can never be lists. But values can be lists.

In [63]:
del(world["china"])
world

{'india': 6.5, 'bangladesh': 4.2}

### Conditional Statements
* if , else , elif

In [64]:
z = 4
if z % 2 == 0 : 
print("z is even")

IndentationError: expected an indented block after 'if' statement on line 2 (2878706004.py, line 3)

In [66]:
z = 5
if z % 2 == 0 : 
    print("z is even")

In [67]:
z = 5
if z % 2 == 0 : 
    print("z is even")
else :
    print("z is odd")

z is odd

In [68]:
z = 3
if z % 2 == 0 :
    print("z is divisible by 2") 
elif z % 3 == 0 :
    print("z is divisible by 3") 
else :
    print("z is neither divisible by 2 nor by 3")

z is divisible by 3

### For loop

In [70]:
fam = [1.73, 1.68, 1.71, 1.89]

In [71]:
print(fam[0])
print(fam[1])
print(fam[2])
print(fam[3])

1.73
1.68
1.71
1.89

In [78]:
for height in fam :
    print(height)

1.73
1.68
1.71
1.89

In [79]:
for index, height in enumerate(fam) :
    print(str(index) + ": " + str(height))

0: 1.73
1: 1.68
2: 1.71
3: 1.89

In [80]:
for i in "bangladesh" :
    print(i.capitalize())

B
A
N
G
L
A
D
E
S
H

In [98]:
menu = ["soup", "rice", "mutton"]
for index, item in enumerate(menu):
   print(f"Item {index}: {item}")

Item 0: soup
Item 1: rice
Item 2: mutton

#### For loops in case of dictionary
* for key, val in my_dict.items() :

In [81]:
world = {"india":6.5, "bangladesh":4.2, "china":5.0}
for key, value in world :
    print(key + " -- " + str(value))

ValueError: too many values to unpack (expected 2)

In [82]:
for key, value in world.items() :
    print(key + " -- " + str(value))

india -- 6.5
bangladesh -- 4.2
china -- 5.0